@import "variables";
@import "bootstrap";

.navbar {
  margin-bottom: 0;

  .navbar-brand {
    @media (max-width: $screen-xs-max) {
      padding-top: 7px;
      padding-bottom: 8px;
    }
  }
}

.header {
  background-color: #fff;
}

.form-search {
  position: relative;
  margin: 15px 0;

  .form-group {
    margin-bottom: 0;

    &:first-child {
      position: absolute;
      top: -7px;
      left: 0;
    }

    &:nth-child(2) {
      padding-right: 150px;
      padding-left: 165px;

      @media (max-width: $screen-xs-max) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .form-control {
    border-right: none;
    @include box-shadow(none);

    &:hover,
    &:focus {
      border-color: $input-border;
    }
  }

  .input-group-btn {
    .btn {
      &:hover,
      &:focus {
        border-left: none;
      }
      .glyphicon {
        color: #777;
      }
    }
  }
}

.nav-grid {
  overflow: hidden;
  margin-bottom: 15px;
  padding: 10px 0;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    border: 1px solid #ccc;
    border-radius: $border-radius-large;
  }

  .nav-item {
    padding: 6px 0;

    @media (max-width: $screen-xs-max) {
      margin-left: (0 - ($grid-gutter-width / 2));
      margin-right: (0 - ($grid-gutter-width / 2));
    }

    > a {
      float: left;
    }

    ul {
      margin-bottom: 0;
      padding: 6px 0 6px 60px;
      list-style: none;
    }

    li {
      overflow: hidden;
      white-space: nowrap;
      > small {
        color: #aaa;
      }
    }
  }
}

.nav-grid-collapse {
  overflow: hidden;
  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.masonry {
  padding-top: $grid-gutter-width;

  .item {
    width: 188px;
  }
}

.thumbnail {
  overflow: hidden;
  margin: 4px 9px;
  padding: 0;
  border: none;
  border-radius: $border-radius-large;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .3));

  .caption {
    border-top: 1px solid #eee;
    background-color: #fff;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #60717c;
  text-align: center;
  font-size: $font-size-small;

  .list-inline {
    &:first-child {
      line-height: 26px;
    }

    li {
      padding-right: 10px;
      padding-left: 10px;

      a {
        color: #60717c;
        &:hover,
        &:focus {
          text-decoration: none;
        }

        > img {
          margin: 0 5px 3px 0;
          @include opacity(.5);
        }
      }

      &:hover,
      &:focus {
        a {
          color: #fff;
          > img {
            @include opacity(1);
          }
        }
      }
    }
  }
}
