@import "variables";
@import "bootstrap";

.navbar-default,
.navbar-inverse {
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;

    .navbar-brand {
      padding-top: 7px;
      padding-bottom: 8px;
    }
  }
}
